{% extends "score/base.html" %}

{% block favicon %}<link href="{% static 'score/favicon.ico' %}" rel="shorcut icon">{% endblock %}

{% block title %}关于我{% endblock %}

{% block content %}
<div class="row">
  <div style="margin: 20px 10px 10px 20px;">
    <div class="card hoverable">
      <div class="container" style="margin:0px 20px 20px 20px">
      <div class="card-content black-text">
        <h3>关于我</h3>
<blockquote><p>这个小站是由理学院 <a href="https://github.com/x1ah">@x1ah</a> 和 <a href="https://github.com/350535629">@Baymax Chuang</a> 共同码成，源码托管于 <a href="https://github.com/daaow/daaow">GitHub</a>，后端基于 Python + Django，前端基于 Material Design 框架。</p></blockquote>

<h5>说明</h5>

<blockquote><p> 所有数据均来源于校教务系统，自行抓取并解析做的封装，在不增加教务系统的压力前提下提供服务，所有的数据也均未作持久化存储，不会存储任何用户信息，系统定期清理会话缓存，大家尽可放心使用。同时，上线初期功能匮乏，仅提供了成绩查询等服务，后期将会不定期更新，提供更多便捷服务，例如抢课系统，校园网登录系统，二手交易，或者论坛等系统。(小水管，望各位 D 下留站)</p></blockquote>

<h5>联系</h5>

<blockquote><p>如果您想一起扩展一起维护，探讨或者学习了解 Web 开发，可以一起交♂流交♂流</blockquote>
- 邮箱: (# &gt; @)<br/>
- x1ah: x1ahgxq#gmail.com<br/>
- Baymax Chuang: 350535629#qq.com<br/>
- QQ群: 526986179</br></p>
      </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
