{% extends "admin/base.html" %}
{% load material_form admin_static material_admin i18n %}
{% load static %}

{% block title %}{% if request.session.login %}教务Lite{% endif %}{% endblock %}

{% block sidenav_header %}
<li>
    <div class="userView">
        <img class="background" src="{% static 'material/imgs/sidenav.svg' %}">
        <a href="#"><img class="circle" src="{% static 'material/imgs/user.png' %}"></a>
        {% block student_info %}
        {% if request.session.login %}
        <a href="#">
            <span class="white-text name">{{ request.session.info.name|title }}</span>
        </a>
        <a href="#">
            <span class="white-text">学号：{{ request.session.info.student_id }}</span>
        </a>
        {% else %}
        <a href="/score/">
        <span class="white-text name">{{ "未登录"|title }}</span>
        </a>
        {% endif %}
        {% endblock %}
    </div>
</li>
{% endblock %}

{% block sidenav_items %}
{% if site_url %}
{% block back_link %}<li class="no-padding"><a class="collapsible-header" href={{ site_url }}><i class="material-icons">arrow_back</i>{% trans 'View site' %}</a></li>{% endblock %}
{% endif %}
{% if request.session.login %}
<li>
    <ul class="collapsible collapsible-accordion">
        <li>
            <a class="collapsible-header"><i class="material-icons">list</i>成绩信息</a>
            <div class="collapsible-body">
                <ul>
                    <li>
                        <a href="{% url 'score:score' %}">我的成绩单</a>
                    </li>
                    <li>
                        {% if request.session.score.npass %}
                        <a href="{% url 'score:score' %}?tag=npass">挂科！</a>
                        {% else %}
                        <a href="#">成绩超棒，没有挂科</a>
                        {% endif %}
                    </li>
                    <li>
                        <a href="{% url 'score:score' %}?tag=cet">四六级</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</li>
<li>
<li>
    <ul class="collapsible collapsible-accordion">
        <li>
            <a class="collapsible-header" href="{% url 'score:logout' %}"><i class="material-icons">exit_to_app</i>退出登录</a>
        </li>
    </ul>
</li>
{% endif %}
<li>
    <ul class="collapsible collapsible-accordion">
        <li>
            <a class="collapsible-header"><i class="material-icons">group_work</i>关于</a>
            <div class="collapsible-body">
                <ul>
                    <li>
                        <a href="/about">关于我们</a>
                    </li>
                    <li>
                        <a href="https://github.com/daaow/daaow">Fork Me On GitHub</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</li>
{% endblock %}

{% block page_title %}
<a href="/" class="page-title">{% block brand-logo %}LOGO{% endblock %}</a>
{% endblock %}

{% block userlinks %}
{% if request.session.login %}
<li><a href="/logout/" data-turbolinks="false"><i class="material-icons right">exit_to_app</i>退出登录</a></li>
{% endif %}
{# 顶栏右侧可添加链接 #}
{% endblock %}
