{% extends 'score/base.html' %}

{% block content %}
<style type="text/css">
    .chip {margin-top: 5px;}
    span.badge {line-height:35px;}
</style>
{# TODO #}
{# 根据 tag 判断显示页面,默认全部成绩 #}

<ul class="collapsible" data-collapsible="accordion">
    {% if request.session.login %}
    <li>
        <div class="collapsible-header"><i class="material-icons">assessment</i>信息总览</div>
        <div class="collapsible-body">
        <div class="chip">共 {{request.session.score.nums}} 门课程</div>
        <div class="chip">总学分：{{request.session.score.credit}}</div>
        <div class="chip">平均分: {{request.session.score.average}}</div>
        </div>
    </li>
    {% endif %}
    {% for lesson in lessons %}
    <li>
        {% if elec %}
        <div class="collapsible-header">{{ lesson.2 }}</div>
        <div class="collapsible-body">
            <div class="chip">{{lesson.1}}</div>
            <div class="chip">教师: {{lesson.3}}</div>
        </div>
        {% elif cet %}
        <div class="collapsible-header">{% if lesson.5 > "600" %}<span class = "chip red lighten-3 badge" >{% elif lesson.5 > "425" %}<span class="chip teal lighten-2 badge">{% else %}<span class="chip grey lighten-1 badge">{% endif %}{{ lesson.5 }}</span>{{ lesson.4 }}</div>
        <div class="collapsible-body">
            <div class="chip">{{lesson.0}}</div>
            <div class="chip">{{lesson.3}}</div>
        </div>
        {% else %}
        <div class="collapsible-header">{% if lesson.7 == "100" %}<span class = "chip red lighten-3 badge" >{% elif lesson.7 > "60" %}<span class="chip teal lighten-2 badge">{% else %}<span class="chip grey lighten-1 badge">{% endif %}{{ lesson.7 }}</span>{{ lesson.6 }}</div>
        <div class="collapsible-body">
            <div class="chip">{{lesson.1}}{{lesson.2}}</div>
            <div class="chip">{{lesson.4}}学分</div>
            <div class="chip">{{lesson.3}}学时</div>
            <div class="chip">{{lesson.5}}</div>
        </div>
        {% endif %}
    </li>
{% endfor %}
{% endblock %}
