{% extends "score/base.html" %}
{% load material_form admin_static material_admin i18n %}

{% block title %}{% if request.session.login %}教务处Plus{% else %}登录{% endif %}{% endblock %}


{% block content %}
<div class="container row" style="margin-top: 10%">
    <form action="/score/" method="POST">
        {% csrf_token %}
        {% form form=form %}{% part form.password %}
        <div class="row">
            <div class="input-field col s12 required" id="id_password_container">
                <input id="id_password" maxlength="100" name="password" type="password">
                <label for="id_password" class>
                    密码
                </label>
                </input>
            </div>
        </div>
        {% endpart %}{% endform %}
    <button type="submit" name="_submit" class="btn">
        登录
    </button>
    </form>
</div>
{% endblock content %}
