{% extends "score/base.html" %}
{% load material_form admin_static material_admin i18n %}

{% block title %}{% if request.session.login %}教务处Plus{% else %}登录{% endif %}{% endblock %}

{% block brand-logo %}LOGO{% endblock %}

{% block content %}
<div class="container" style="margin-top: 10%">
    <form action="/score/" method="POST">
    {% csrf_token %}
    {% form form=form %}{% endform %}
    <button type="submit" name="_submit" class="btn">
        登录
    </button>
    </form>
</div>
{% endblock %}
